doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        link(rel='stylesheet', href='css/app.css')
        title friendlyTime
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='https://unpkg.com/popper.js')

        link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.min.css')
        script(src='libs/bootstrap/dist/js/bootstrap.min.js')

        script(src='libs/textFit.min.js')

        script(type='text/javascript', src='libs/moment.min.js')
        script(type='text/javascript', src='libs/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
        link(rel='stylesheet', href='libs/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css')


    body
        block content
        script(src='js/app.js')

