html, body {
    width: 100%;
    /*min-height: 900px;*/
    height:100%;
    /*min-height: 900px;*/
    background: url(../img/background1.jpg) repeat repeat;
    /*overflow-x: hidden;*/
}

    #container {
        width: 100%;
        height:100%;
        /*min-width: 1589px;*/
    }


        #logo {
            width: 1589px;
            height:534px;
            margin: 0 auto;
        }

            #logo img {
                width: 100%;
                height:100%;
            }

        .buttonContainer {
            max-width: 450px;
            margin: 0 auto;
            border:1px solid #fff;
            font-size: 16px;
            margin-bottom: 10px;
        }

            .buttonContainer button{
                display: block;
                width: 100%;
                height: 60px;
                background-color: #000 !important;
                font-size: 20px !important;
                font-weight: bold !important;

                /*margin: 0 auto;*/
            }


            .buttonContainer button:hover {
                opacity: 0.8;
            }


            /*    ---------------- add new event screen ------------------ */

#addNewEvent-container {
    width:500px;
    height:100%;
    /*min-height: 600px;*/
    background-color: #000;
    opacity: 0.5;
    margin-left:50px;
    color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding:50px 0 0 105px;
}

        #addNewEvent-container .form-group {
            display: block;
            width:300px;
        }

                #addNewEvent-container .form-group label{
                    min-width: 100%;
                    font-weight: normal;
                }

                #addNewEvent-container .form-group input{
                    width:300px;
                    height: 35px;
                }


                #datetimepicker2 {
                    color:#000000 !important;
                    width:300px !important;
                }

                #datetimepicker2 input {
                    max-width:260px !important;
                }


                #addNewEvent-container .buttonContainer{
                    width:300px;
                }

                        #createEventButton {
                            background-color: #fff !important;
                            color:#000;
                        }

                        #hrenVamButton {
                            background-color: #00137F !important;
                            color:yellow;
                        }


/*    ---------------- show events screen ------------------ */

#eventsContainer {
    width:100%;
    height: 100%;
    padding-top:200px;
}

#eventsInnerContainer {
    width:1200px;
    /*height:auto;*/
    min-height: 500px;
    border:5px solid #00137F;
    border-radius: 20px;
    background-color: #fff;
    opacity: 0.6;
    margin:0px auto;
    overflow: auto;
}

    .willButton {
        width: 150px;
        background-color: #00137F !important;
        color:yellow !important;
    }

        .willButton:hover {
            background-color: #0038E2 !important;
        }

    .members, .eventPlace, .eventName {
        max-width: 280px;
    }

    .datetime {
        min-width: 160px;
    }

#backButton {
    width:116px;
    height:44px;
    background: url(../img/backButton.png) -2px -2px no-repeat;
    border-radius: 3px;
    margin:50px auto 0px auto;
}

        #backButton:hover {
            opacity: 0.8;
            cursor: pointer;
        }

@media screen and (max-width: 1600px) {

    #container {
        width: 100%;
        height: 100%;
        /*border:1px solid blue;*/
    }

        #logo {
            width: 100%;
            height: auto;
            /*border:1px solid yellow;*/
            overflow: hidden;
        }

            #logo img {
                display: block;
                width: 100%;
                /*height: 100%;*/
                margin: 0 auto;
                background-position: right top;
                /*border:1px solid red;*/
            }



}

@media screen and (max-width: 500px) {


    .buttonContainer {
        max-width: 80%;
        min-width: 300px;
        margin-bottom: 10px;
    }

    .buttonContainer button{
        width: 100%;
        height: 60px;

    }

    /*----- show events table --------*/

    #eventsContainer {
        padding-top: 10px;
    }

        #eventsInnerContainer {
            width: 100%;
            min-width:400px;
        }

    /*----- show events table --------*/

    #addNewEvent-container {
        width:100%;
        height:100%;
        min-height:600px;
        /*min-height: 600px;*/
        padding:50px 0 0 0;
        margin:0;
        overflow: hidden;
    }

    #addNewEvent-container .form-group{
        margin:20px auto;
    }


}




