body {
    max-width: 100%;
    height: 100%;
    /*background-color: black;*/
}

    #container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

        .error-img {
            width: 100%;
            height: 50%;
            max-height: 600px !important;
            margin: 0 auto;
            padding-right: 100px;
            /*border:2px solid yellow;*/
        }

            .error-img img {
                display: block;
                width:40%;
                /*height: 100%;*/
                margin: 0 auto;

                /*border:2px solid blue;*/
                /*background: url(../img/error.png) no-repeat;*/
            }

@media screen and (max-width: 1240px)  {
    .error-img img {
        width:100%;
    }

}